APP_NAME="Infix LMS"
APP_ENV="production"
APP_KEY=
APP_DEBUG="false"
DEBUGBAR_ENABLED=false
APP_URL="https://mupotrainingcenter.co.za"
APP_SYNC=false
LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="infixlms"
DB_USERNAME="root"
DB_PASSWORD=""

BROADCAST_DRIVER=null
CACHE_DRIVER="file"
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST="127.0.0.1"
REDIS_PASSWORD=""
REDIS_PORT="6379"

HAS_PUBLIC_FOLDER=false

MAIL_DRIVER="sendmail"
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT="2525"
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION="tls"

MAIL_FROM_ADDRESS="admin@lms.com"
MAIL_FROM_NAME="System Admin"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION="ap-south-1"
AWS_BUCKET="infixlms"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
TIME_ZONE=Asia/Dhaka


VIMEO_CLIENT=""
VIMEO_SECRET=""
VIMEO_ACCESS=""
VIMEO_COMMON_USE="false"
VIMEO_UPLOAD_TYPE="List"

ZOOM_CLIENT_KEY=
ZOOM_CLIENT_SECRET=

BBB_SECURITY_SALT=""
BBB_SERVER_BASE_URL="http://test-install.blindsidenetworks.com/bigbluebutton/"

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
IS_PAYPAL_LOCALHOST=true

STRIPE_KEY=
STRIPE_SECRET=

RAZOR_KEY=
RAZOR_SECRET=

PAYTM_ENVIRONMENT=local
PAYTM_MERCHANT_ID=
PAYTM_MERCHANT_KEY=""
PAYTM_MERCHANT_WEBSITE=WEBSTAGING
PAYTM_CHANNEL=WEB
PAYTM_INDUSTRY_TYPE=Retail


PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_PAYMENT_URL=https://api.paystack.co
MERCHANT_EMAIL=spn19@spondonit.com

BANK_NAME="Dhaka_Bank"
BRANCH_NAME="Dhaka"
ACCOUNT_NUMBER="64687964"
ACCOUNT_HOLDER="INFIX LMS"
ACCOUNT_TYPE="Savings Account"

FIXER_ACCESS_KEY=

Instamojo_API_AUTH=""
Instamojo_API_AUTH_TOKEN=""
Instamojo_URL="https://test.instamojo.com/api/1.1/"

MIDTRANS_SERVER_KEY=""
MIDTRANS_ENV="false"
MIDTRANS_SANITIZE="true"
MIDTRANS_3DS="false"

PAYEER_MERCHANT=""
PAYEER_KEY=""

AWEBER_TOKEN_KEY=
AWEBER_TOKEN_SECRET=

MailChimp_API=""
MailChimp_Status="true"
GET_RESPONSE_API=""
GET_RESPONSE_STATUS="true"

PESAPAL_KEY=""
PESAPAL_SECRET=""
PESAPAL_IS_LIVE="true"
PESAPAL_CALLBACK="http://localhost/infixlms_lv/pesapal/success"

FORCE_HTTPS="false"

MEMCACHED_PERSISTENT_ID=""
MEMCACHED_HOST=""
MEMCACHED_PASSWORD=""
MEMCACHED_PORT=""
MEMCACHED_USERNAME=""


NOCAPTCHA_SITEKEY=""
NOCAPTCHA_SECRET=""
NOCAPTCHA_IS_INVISIBLE="false"

NOCAPTCHA_FOR_LOGIN="false"
NOCAPTCHA_FOR_REG="false"
NOCAPTCHA_FOR_CONTACT="false"

MOBILPAY_MERCHANT_ID=""
MOBILPAY_PUBLIC_KEY_PATH=""
MOBILPAY_PRIVATE_KEY_PATH=""
MOBILPAY_TEST_MODE="true"

VDOCIPHER_API_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""

ALLOW_GOOGLE_LOGIN="false"
ALLOW_FACEBOOK_LOGIN="false"

BKASH_APP_KEY=""
BKASH_APP_SECRET=""
BKASH_USERNAME=""
BKASH_PASSWORD=""
IS_BKASH_LOCALHOST="true"

ACELLE_STATUS="false"
ACELLE_API_URL="https://app.theemailgate.com/api/v1"
ACELLE_API_TOKEN=""
FCM_SECRET_KEY=""
